<h1>Sistema Acadêmico</h1>

<%= link_to 'Alunos', alunos_path %>
<%= link_to 'Professores', professores_path %>
<%= link_to 'Dados acadêmicos', dados_academicos_path %>
<%= link_to 'Formações', formacoes_path %>

