rvm:
  - 1.9.2

env: "RAILS_ENV='test'"

script: "bundle exec rspec spec/"

before_script:
  - "cp config/database.yml.travis config/database.yml"
  - "rake db:create"
  - "rake db:schema:load"

notifications:
  recipients:
    - rmanhaes@gmail.com
    - zangrandii@gmail.com
    - camila.usagi@gmail.com
    - jlalmeidaf2@hotmail.com
    - juquinhaa@gmail.com
    - marcelorj.oliveira@gmail.com
    - mayrasantana@gmail.com
    - rafaelbpcrespo@gmail.com
    - raphaelframos@gmail.com
    - renatagomes.cord@gmail.com
    - sanya.carvalho@yahoo.com.br
    - ticarvalhocosta@gmail.com
    - kirillsk8@gmail.com

branches:
  only:
    - master

