<%= semantic_form_for(@area_de_conhecimento) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name, :label => 'Nome' %><br />
  <%end%>
  <div class="actions">
    <%= f.submit 'Salvar'%>
  </div>
<% end %>
