<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @area_de_conhecimento.name %>
</p>


<%= link_to 'Editar', edit_area_de_conhecimento_path(@area_de_conhecimento) %> |
<%= link_to 'Voltar', area_de_conhecimentos_path %>
