<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @area_de_conhecimento.name %>
</p>


<%= link_to 'Edit', edit_area_de_conhecimento_path(@area_de_conhecimento) %> |
<%= link_to 'Back', area_de_conhecimentos_path %>
