<style type="text/css" media="screen">
#header_plano {
	height:200px;
	width:2000px;
}
</style>

<title>Plano de Estudos</title>
<div id="header_plano">
	
</div>
<div id="meio_plano">
			<h2><%= @aluno.turmas %></h2>
			
</div>
<div id="footer_plano">
	
</div>


<h1>plano do <%= @aluno.nome %></h1>
<h2><%= @aluno.turmas %></h2>
<h2><%= @aluno.curso %></h2>